<div class="container top-gap">
  <md-card>
    <p>You are now in chat room: {{roomId}}</p>

    <div #scrollMe class="message-window">
      <div class="message-board">
        <app-chat-message *ngFor="let message of messages" [time]="message.time" [user]="message.user" [message]="message.text"></app-chat-message>
      </div>
    </div>

    <div class="message-input-wrapper">
      <md-input-container>
        <input mdInput placeholder="Your message" [(ngModel)]="message" (keyup.enter)="sendMessage()">
      </md-input-container>
      <button md-button (click)="sendMessage()">Send</button>
    </div>
  </md-card>
</div>