.message-window {
    height: 70vh;
    overflow-y: scroll;
}

.message-board {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.message-input-wrapper {
    display: flex;
}

.message-input-wrapper md-input-container {
    flex-grow: 1;
}