<div class="sign-up-container">
  <md-card>

    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm)" novalidate>
      <md-input-container>
        <input mdInput placeholder="Handle" formControlName="forename">
      </md-input-container>
      <p *ngIf="errorMessage">{{errorMessage}}</p>
      <div class="footer">
        <button md-button type="submit">Submit</button>
      </div>
    </form>

    <!--<h1>Sign Up <i class="material-icons">face</i></h1>

    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm)" novalidate>
      <md-input-container>
        <input mdInput placeholder="Forename" formControlName="forename">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Surname" formControlName="surname">
      </md-input-container>
      <br>
      <md-input-container>
        <input mdInput placeholder="Email Address" formControlName="email">
      </md-input-container>
      <p *ngIf="errorMessage">{{errorMessage}}</p>
      <div class="footer">
        <button md-button type="submit">Submit</button>
      </div>
    </form>-->
  </md-card>
</div>